name: Deploy Backend to Lambda

on:
  push:
    branches:
      - main
    paths:
      - "backend/**"

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ap-northeast-1
      - name: Create Zip File
        run: |
          cd backend
          zip -r ../backend.zip .

      - name: Update Lambda Code
        run: aws lambda update-function-code --function-name OtenkiMeshi_Backend_TF --zip-file fileb://backend.zip
